<div id="wrapper" class="wrapper">

  <!-- Header -->
    <header id="header">
      <div class="logo">
        <img class="icon" src="../../../assets/icon/iconBall.png" alt="">
      </div>
      <div class="content">
        <div class="inner">
          <h1>DexCatch</h1>
          <form [formGroup]="loginForm">
						<div class="form-group">
							<label for="usuario"> </label>
							<input type="text" class="form-control" id="usuario" formControlName="usuario" placeholder="Introduce un nombre" value="">
						</div>
						<div class="form-group">
                <ion-label></ion-label>
                <ion-select formControlName="region" placeholder="Elige una Region Inicial" value="" okText="Okay" cancelText="Dismiss" class="borde">
                  <ion-select-option value="kanto">KANTO</ion-select-option>
                  <ion-select-option value="johto">JOHTO</ion-select-option>
                  <ion-select-option value="hoenn">HOENN</ion-select-option>
                  <ion-select-option value="sinnoh">SINNOH</ion-select-option>
                  <ion-select-option value="teselia">TESELIA</ion-select-option>
                  <ion-select-option value="kalos">KALOS</ion-select-option>
                  <ion-select-option value="alola">ALOLA</ion-select-option>
                </ion-select>
						</div>
						<div class="form-group">
                <ion-label></ion-label>
                <ion-select formControlName="pokeini" placeholder="Elige un Pokemon Inicial" value="" okText="Okay" cancelText="Dismiss" class="borde">
                  <ion-select-option value="001">BULBASAUR</ion-select-option>
                  <ion-select-option value="004">CHARMANDER</ion-select-option>
                  <ion-select-option value="007">SQUIRTLE</ion-select-option>

                  <ion-select-option value="152">CHIKORITA</ion-select-option>
                  <ion-select-option value="155">CYNDAQUIL</ion-select-option>
                  <ion-select-option value="158">TOTODILE</ion-select-option>

                  <ion-select-option value="252">TREECKO</ion-select-option>
                  <ion-select-option value="255">TORCHIC</ion-select-option>
                  <ion-select-option value="258">MUDKIP</ion-select-option>

                  <ion-select-option value="387">TURWIG</ion-select-option>
                  <ion-select-option value="390">CHIMCHAR</ion-select-option>
                  <ion-select-option value="393">PIPLUP</ion-select-option>

                  <ion-select-option value="495">SNIVY</ion-select-option>
                  <ion-select-option value="498">TEPIG</ion-select-option>
                  <ion-select-option value="501">OSHAWOTT</ion-select-option>

                  <ion-select-option value="650">CHESPIN</ion-select-option>
                  <ion-select-option value="653">FENNEKIN</ion-select-option>
                  <ion-select-option value="656">FROAKIE</ion-select-option>

                  <ion-select-option value="722">ROWLET</ion-select-option>
                  <ion-select-option value="725">LITTEN</ion-select-option>
                  <ion-select-option value="728">POPLIO</ion-select-option>

                  <ion-select-option value="025">PIKACHU</ion-select-option>
                  <ion-select-option value="133">EEVEE</ion-select-option>
                </ion-select>
						</div>
					</form>
        </div>
      </div>
      <div>
        <button type="button" class="btn" id="googlelogin" (click)="doGoogleLogin()" [disabled]="!loginForm.valid">Sesion Google</button>
      </div>
      <nav>
        <ul style="visibility: hidden">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </nav>
    </header>

  <!-- Main -->


</div>

