<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <span class="separacion">
        <h3 class="upBoton" (click)="irHome()">&lt;</h3>
        <h3 class="text-center">CatchDex</h3>
      </span>
      <hr>
      <div class="row">
        <div class="col-md-12">

          <form role="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Correo</label>
              <input type="email" class="form-control btn-outline-secondary" id="exampleInputEmail1">
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control btn-outline-secondary" id="exampleInputPassword1">
            </div>

            <div class="form-group">
              <!-- <ion-label>Region Inicial</ion-label> -->
              <ion-select placeholder="Elige una region" value="" okText="Okay" cancelText="Dismiss" class="btn-outline-secondary">
                <ion-select-option value="kanto">KANTO</ion-select-option>
                <ion-select-option value="johto">JOHTO</ion-select-option>
                <ion-select-option value="hoenn">HOENN</ion-select-option>
                <!-- <ion-select-option value="sinnoh">SINNOH</ion-select-option>
                  <ion-select-option value="teselia">TESELIA</ion-select-option>
                  <ion-select-option value="kalos">KALOS</ion-select-option>
                  <ion-select-option value="alola">ALOLA</ion-select-option> -->
              </ion-select>
            </div>
            <div class="form-group">
              <!-- <ion-label>Pókemon Inicial</ion-label> -->
              <ion-select placeholder="Elige un pókemon" value="" okText="Okay" cancelText="Dismiss" class="btn-outline-secondary">
                <ion-select-option value="001">BULBASAUR</ion-select-option>
                <ion-select-option value="004">CHARMANDER</ion-select-option>
                <ion-select-option value="007">SQUIRTLE</ion-select-option>

                <ion-select-option value="152">CHIKORITA</ion-select-option>
                <ion-select-option value="155">CYNDAQUIL</ion-select-option>
                <ion-select-option value="158">TOTODILE</ion-select-option>

                <ion-select-option value="252">TREECKO</ion-select-option>
                <ion-select-option value="255">TORCHIC</ion-select-option>
                <ion-select-option value="258">MUDKIP</ion-select-option>

                <!-- <ion-select-option value="387">TURWIG</ion-select-option>
                  <ion-select-option value="390">CHIMCHAR</ion-select-option>
                  <ion-select-option value="393">PIPLUP</ion-select-option>

                  <ion-select-option value="495">SNIVY</ion-select-option>
                  <ion-select-option value="498">TEPIG</ion-select-option>
                  <ion-select-option value="501">OSHAWOTT</ion-select-option>

                  <ion-select-option value="650">CHESPIN</ion-select-option>
                  <ion-select-option value="653">FENNEKIN</ion-select-option>
                  <ion-select-option value="656">FROAKIE</ion-select-option>

                  <ion-select-option value="722">ROWLET</ion-select-option>
                  <ion-select-option value="725">LITTEN</ion-select-option>
                  <ion-select-option value="728">POPLIO</ion-select-option> -->

                <ion-select-option value="025">PIKACHU</ion-select-option>
                <ion-select-option value="133">EEVEE</ion-select-option>
              </ion-select>
            </div>

            <button type="submit" class="btn btn-outline-secondary">Registrarme</button>
            <div class="form-group"></div>
            <button type="button" class="form-control btn btn-outline-secondary">¿Registrarme con google?</button>

          </form>

        </div>
      </div>
      <hr>
    </div>
  </div>
</div>