<ion-tabs appSwipetab (ionTabsDidChange)="ionTabsDidChange($event)" (tabChange)="onTabChange($event)" #myTabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
          <svg xmlns="http://www.w3.org/2000/svg" class="s-ion-icon" viewBox="0 0 512 512">
            <use xlink:href="#j" transform="matrix(-1 0 0 1 204 0)"></use>
            <g id="j" transform="translate(1.67 1.6)" fill="gold">
              <path d="m188.1 171.6l5.58 11.28-20.15 14.55-10.57-6.46" ></path>
              <g>
                <path d="m155 142.4l-28.32 8.62-2.44-.34-1.51-1.55.17-1.73 28.78-8.69 2.28.45 1.51 1.55-.48 1.68z">
                </path>
                <path d="m184.3 175.4l-24.5 7.4-2.44-.34-1.51-1.55.17-1.73 24.95-7.47 2.28.45 1.51 1.55-.48 1.68z">
                </path>
                <path d="m200 169.1l-42.8 31.04-10.34-8.35 45.36-34.4z"></path>
              </g>
              <g>
                <path d="m178.8 168.6l-25.57 7.66-2.44-.34-1.51-1.55.17-1.73 26.03-7.73 2.28.45 1.51 1.55-.48 1.68z">
                </path>
                <path d="m173.3 162.2l-26.79 8.03-2.44-.34-1.51-1.55.17-1.73 27.25-8.1 2.28.45 1.51 1.55-.48 1.68z">
                </path>
                <path d="m167.3 156l-27.25 8.1-2.44-.34-1.51-1.55.17-1.73 27.71-8.17 2.28.45 1.51 1.55-.48 1.68z">
                </path>
                <path d="m161.2 149l-27.71 8.44-2.44-.34-1.51-1.55.17-1.73 28.17-8.51 2.28.45 1.51 1.55-.48 1.68z">
                </path>
              </g>
              <g>
                <path
                  d="m39.55 12.21l102.2 114.6-10.76 7.93-.81.6-10.76 7.93-112.7-106.8-5.87-34.38 26.29 26.35-26.12-26.5z">
                </path>
              </g>
              <path d="m159.6 113.9l11.44 13-32.68 15.52-24.19 24.88-12.03-11.93 29.02-20.01z"></path>
            </g>
          </svg>
      <!-- <ion-label>Tab One</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="paw"></ion-icon>
      <!-- <ion-label>Tab Two</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="eye-off"></ion-icon>
      <!-- <ion-label>Tab Three</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>