
* {
    font-family: Verdana;
    font-weight: bold;
    font-size: 8px;
    color: white;
}

.cardPokemon {
    padding: 5px;
}

.contenedor {
    height: 100%;
    justify-content: center;
    display: flex;
}

.marginauto {
    margin: auto;
}

.wrapper {
    background-color: #1b1f22;
}

.icon {
    width: 50px;
    position: relative;
    bottom: 2px;
}

.enlinea {
    display: inline-block;
}

.bloque {
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px #ffffff;
}

.bordeabajo {
    border-bottom: solid 1px #ffffff; 
}

.bordearriba {
    border-top: solid 1px #ffffff; 
}

.bordederecha {
    border-right: solid 1px #ffffff;
}

.letraregion {
    text-transform: uppercase;
}

.cardPokemon {
    width: 33%;
}

.noborder {
    border: none;
    box-shadow: none;
}

.backbutton {
    display: grid;
    justify-content: left;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-11, .col-12 {
    padding: unset;
    margin: unset;
}