// #################################################
// ######## BLOQUE CAMPO BATALLA ###################
// #################################################
.fondoStatsBatalla {
    padding: 5px;
    border-radius: 10px !important;
    border: 1px solid gold;
}

.fondo-batalla {
    background-image: url('../../assets/images/test.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 10px;
}

// #################################################
// ######## SECCION UNO POKEMON RIVAL ##############
// #################################################
// Vida Salvaje
.barraVida {
    height: 17px;
    display: flex;
    width: 100%;
    border: 1px solid black;
}

.imgSobreImg {
    left: 0px;
    position: absolute;
    top: 4%;
}

.textoImgCentrado1 {
    position: absolute;
    top: 24%;
    left: 50%;
    margin-left: -20px;
    color: black
}

// Imagen Batalla
.pokesalvaje {
    height: 140px;
}

.pokemonbatalla {
    transform: rotateY(180deg);
    height: 100px;
}

// #################################################
// ######## SECCION DOS POKEMON ALIADO #############
// #################################################
// Texto barra de vida
.textoImgCentrado2 {
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -20px;
    color: black
}

// Texto barra de exp
.textoImgCentrado3 {
    position: relative;
    top: 55%;
    left: 50%;
    margin-left: -20px;
    color: black;
}

// #################################################
// ######## FIN BLOQUE CAMPO BATALLA ###############
// #################################################

// #################################################
// ######## BLOQUE EQUIPO POKEMON ##################
// #################################################
.equipo-batalla {
    padding-top: 10px;
}

.cardPokemon {
    width: 30%;
    height: 150px;
    margin: 5px;
}

.equipo-poke {
    display: flex;
}

.equipopoke {
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    padding: 11px;
    line-height: 1.8;
    background-color: #1b1f22 !important;
    border-radius: 10px !important;
    border: 1px solid gold;
}

.equipopoke * {
    font-size: 9px;
    padding: unset;
    margin: unset;
}

.scene {
    width: 100%;
    height: 150px;
}

.tarjeta {
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.tarjeta2 {
    height: 100%;
}

.is-flipped {
    transform: rotateY(180deg);
}

.tarjeta__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.tarjeta__face--back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.pokemon2 {
    height: 90px !important;
}

// #################################################
// ######## FIN BLOQUE EQUIPO POKEMON ##############
// #################################################

// #################################################
// ######## BLOQUE ICONOS BATALLA ##################
// #################################################
.icon {
    padding: 5px !important;
    border-radius: 10px !important;
    margin: 5px !important;
}

.iconos {
    height: 100px;
}

.iconless,
.iconless>*,
.iconless>*>*,
.iconless>*>*>*,
.iconless>*>*>*>* {
    height: 100%;
}

// #################################################
// ######## ESTILOS GENERALES ######################
// #################################################
* {
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.absoluto {
    position: absolute;
    background-color: #1b1f22;
}

.centrar {
    justify-content: center;
    display: flex;
}

.width-100 {
    width: 100% !important;
}

.row {
    margin-right: unset !important;
    margin-left: unset !important;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-right: unset;
    padding-left: unset;
}

// Margin y Padding
.margin-top-5 {
    margin-top: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

// Mochila
.cardBall {
    width: 45%;
    display: flex;
    justify-content: center;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid gold;
    background-color: #1b1f22 !important;
    height: 150px;
}

.cardBall>*,
.cardBall>*>*,
.cardBall>*>*>* {
    height: 100% !important;
}

.ball {
    height: 85%;
}

.medalla {
    display: grid;
    background: none;
}

// #################################################
// ######### HIDDEN STYLES #########################
// #################################################

.hide {
    visibility: hidden;
}

.show {
    visibility: show;
}

.block {
    display: block;
}

.none {
    display: none;
}
