.contenedor {
    height: 100%;
    justify-content: center;
    display: flex;
}

.marginauto {
    margin: auto;
}

.wrapper {
    background-color: #1b1f22;
}

.icon {
    width: 50px;
    position: relative;
    bottom: 2px;
}
