/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
    // --background: var(--ion-toolbar-background,var(--ion-background-color,#fff));
    --background: unset;
}

ion-toolbar {
    background-color: #1b1f22;
}
// ########################################################
// ############ Diseño CSS Elegante #######################
// ########################################################

.content {
    height: 100%;
    justify-content: center;
    display: flex;
}

.wrapper {
    background-color: #1b1f22;
}

ion-select {
    height: 41px;
}

input {
    text-align: center;
}

.select-text {
    text-transform: capitalize;
}

.marginauto {
    margin: auto;
}

.icon {
    width: 50px;
    position: relative;
    bottom: 2px;
}

.borde {
    border: 1px solid white !important;
    border-radius: 5px;
}




// ########################################################
// ############ Diseño General ############################
// ########################################################

* {
    color: white;
}

#wrapper {
    justify-content: center;
    vertical-align: middle;
}

.capturadoPokeBall {
    background: round;
    background-image: url(./assets/images/item_pokemon/pokeball.png);
    height: 120px;
}

.capturadoSuperBall {
    background: round;
    background-image: url(./assets/images/item_pokemon/superball.png);
    height: 120px;
}

.capturadoUltraBall {
    background: round;
    background-image: url(./assets/images/item_pokemon/ultraball.png);
    height: 120px;
}

.capturadoMasterBall {
    background: round;
    background-image: url(./assets/images/item_pokemon/masterball.png);
    height: 120px;
}


.tipo {
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 5px;
    text-align: center;
    font-size: 9px;
    margin-bottom: 5px !important;
}

.tipoVACIO {
    visibility: hidden;
    color: #000000;
    background: #000000;
    background: linear-gradient(to bottom, #000000 0%, #000000 100%);
    background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #000000 100%);
}

.tipoACERO {
    background: #b4b8bb;
    background: linear-gradient(to bottom, #b4b8bb 0%, #2d2c2c 100%);
    background: -moz-linear-gradient(top, #b4b8bb 0%, #2d2c2c 100%);
    background: -webkit-linear-gradient(top, #b4b8bb 0%, #2d2c2c 100%);
}

.tipoAGUA {
    background: #169cd9;
    background: linear-gradient(to bottom, #3ca0ff 0%, #0a1e28 100%);
    background: -moz-linear-gradient(top, #3ca0ff 0%, #0a1e28 100%);
    background: -webkit-linear-gradient(top, #3ca0ff 0%, #0a1e28 100%);
}

.tipoBICHO {
    background: #a2bc03;
    background: linear-gradient(to bottom, #a2bc03 0%, #363e06 100%);
    background: -moz-linear-gradient(top, #a2bc03 0%, #363e06 100%);
    background: -webkit-linear-gradient(top, #a2bc03 0%, #363e06 100%);
}

.tipoDRAGON {
    background: #f59502;
    background: linear-gradient(to bottom, #ff9a00 0%, #4a2d00 100%);
    background: -moz-linear-gradient(top, #ff9a00 0%, #4a2d00 100%);
    background: -webkit-linear-gradient(top, #ff9a00 0%, #4a2d00 100%);
}

.tipoELECTRICO {
    background: #d2d000;
    background: linear-gradient(to bottom, #d2d000 0%, #3c3b00 100%);
    background: -moz-linear-gradient(top, #d2d000 0%, #3c3b00 100%);
    background: -webkit-linear-gradient(top, #d2d000 0%, #3c3b00 100%);
}

.tipoFANTASMA {
    background: #6668b3;
    background: linear-gradient(to bottom, #6668b3 0%, #25264a 100%);
    background: -moz-linear-gradient(top, #6668b3 0%, #25264a 100%);
    background: -webkit-linear-gradient(top, #6668b3 0%, #25264a 100%);
}

.tipoFUEGO {
    background: #ff0101;
    background: linear-gradient(to bottom, #ff0101 0%, #580000 100%);
    background: -moz-linear-gradient(toP, #ff0101 0%, #580000 100%);
    background: -webkit-linear-gradient(top, #ff0101 0%, #580000 100%);
}

.tipoHADA {
    background: #d696d3;
    background: linear-gradient(to bottom, #d696d3 0%, #4e324d 100%);
    background: -moz-linear-gradient(top, #d696d3 0%, #4e324d 100%);
    background: -webkit-linear-gradient(top, #d696d3 0%, #4e324d 100%);
}

.tipoHIELO {
    background: #b3d7ef;
    background: linear-gradient(to bottom, #b3d7ef 0%, #162b3a 100%);
    background: -moz-linear-gradient(top, #b3d7ef 0%, #162b3a 100%);
    background: -webkit-linear-gradient(top, #b3d7ef 0%, #162b3a 100%);
}

.tipoLUCHA {
    background: #d5543f;
    background: linear-gradient(to bottom, #d5543f 0%, #482721 100%);
    background: -moz-linear-gradient(top, #d5543f 0%, #482721 100%);
    background: -webkit-linear-gradient(top, #d5543f 0%, #482721 100%);
}

.tipoNORMAL {
    background: #be9661;
    background: linear-gradient(to bottom, #ad7730 0%, #2b1911 100%);
    background: -moz-linear-gradient(top, #ad7730 0%, #2b1911 100%);
    background: -webkit-linear-gradient(top, #ad7730 0%, #2b1911 100%);
}

.tipoPLANTA {
    background: #02c143;
    background: linear-gradient(to bottom, #02c143 0%, #0c3a01 100%);
    background: -moz-linear-gradient(top, #02c143 0%, #0c3a01 100%);
    background: -webkit-linear-gradient(top, #02c143 0%, #0c3a01 100%);
}

.tipoPSIQUICO {
    background: #f647a2;
    background: linear-gradient(to bottom, #f647a2 0%, #440f2a 100%);
    background: -moz-linear-gradient(top, #f647a2 0%, #440f2a 100%);
    background: -webkit-linear-gradient(top, #f647a2 0%, #440f2a 100%);
}

.tipoROCA {
    background: #696969;
    background: linear-gradient(to bottom, #696969 0%, #353333 100%);
    background: -moz-linear-gradient(top, #696969 0%, #353333 100%);
    background: -webkit-linear-gradient(top, #696969 0%, #353333 100%);
}

.tipoSINIESTRO {
    background: #7f523b;
    background: linear-gradient(to bottom, #10cc50 0%, #105000 100%);
    background: -webkit-linear-gradient(top, #10cc50 0%, #105000 100%);
}

.tipoTIERRA {
    background: #b18728;
    background: linear-gradient(to bottom, #b18728 0%, #2f2100 100%);
    background: -moz-linear-gradient(top, #b18728 0%, #2f2100 100%);
    background: -webkit-linear-gradient(top, #b18728 0%, #2f2100 100%);
}

.tipoVENENO {
    background: #664498;
    background: linear-gradient(to bottom, #664498 0%, #300070 100%);
    background: -moz-linear-gradient(top, #7030ff 0%, #300070 100%);
    background: -webkit-linear-gradient(top, #7030ff 0%, #300070 100%);
}

.tipoVOLADOR {
    background: #92adbf;
    background: linear-gradient(to bottom, #92adbf 0%, #1d7f9a 100%);
    background: -moz-linear-gradient(top, #92adbf 0%, #1d7f9a 100%);
    background: -webkit-linear-gradient(top, #92adbf 0%, #1d7f9a 100%);
}



















// * {
//     font-family: Verdana;
//     font-weight: bold;
//     // margin: 0px !important;
//     // padding: 0px !important;
//     // color: white;
// }

// .cardPokemon {
//     // width: 93% !important;
//     margin: 3% !important;
//     // width: 30%;
//     display: inline-block;
//     margin: 5px !important;
//     vertical-align: top;
// }

// .tarjeta {
//     margin-bottom: 2% !important;
//     padding: 3% !important;
//     background-color: rgba(18, 18, 50, 0.6);
//     border-radius: 10px;
// }

.center {
    text-align: center;
    justify-content: center;
}


.backbutton {
    position: fixed;
}

.menubutton {
    display: grid;
    justify-content: end !important;
    width: 100%;
}

.letra8 * {
    font-size: 8px;
}

.letra14 * {
    font-size: 14px;
    margin: 2px 0px !important;
}

.zonaIconos {
    background: #000000;
    height: 34px;
    // margin: auto !important;
    // display: flex;
}

.zonaIconoBall {
    border-radius: 10px 0px 0px 0px;
    padding: 2px 0px 0px 6px !important;
}

.zonaIconoFav {
    border-radius: 0px 10px 0px 0px;
    padding: 2px 6px 0px 0px !important;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100%;
}

.flex {
    display: flex;
}

.ball{
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}


.color1 {
    background-color: rgba(18, 18, 50, 0.6);
}

.color2 {
  background-color: rgb(19, 39, 82);
}

.row {
  margin-right: unset !important;
  margin-left: unset !important;
}

.nopadin {
  padding: unset;
}

.espacio {
  white-space: pre;
}

.inline-flex {
    display: inline-flex;
}

.width90 {
    width: 90%;
}

.borde10 {
  border-radius: 10px;
}

.padin10 {
  padding: 10px;
}

.margenfondo10 {
  margin-bottom: 10px;
}

.margenfondo_10 {
  margin-bottom: -10px;
}

.margen5 {
    margin: 5px;
}


.pokemon {
    height: 150px !important;
}

.alert-button {
    width: 45% !important;
}

span {
    color: black !important;
}

ion-select {
    height: auto !important;
}