<ion-content>
<div id="wrapper" class="wrapper">

    <div class="row width100">
      <div class="col-12">
        <div class="row bordeabajo">
          <div class="col-2">
            <h4>{{entrenador.Nivel}}</h4>
          </div>
          <div class="col-8 text-center">
            <h4>{{entrenador.Nombre}}</h4>
          </div>
          <div class="col-2">
          </div>
        </div>
      </div>
    </div>
    <div class="row bordeabajo width100">
      <div class="col-6 bordederecha">
        <img src="../../assets/images/avatar/avatar.png" alt="">
      </div>
      <div class="col-6">
          <div class="row width100">
            <h3 class="letraregion bordeabajo text-center width100">{{region}}</h3>
            <div class="col-12" (click)="iraregion()">
                <img src="../../assets/images/mapas/{{region}}.jpg" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-12">

            </div>
          </div>
      </div>
    </div>
    <div class="row" style="margin-top: -6rem">
      <div class="col-6 bordederecha">
      </div>
      <div class="col-6 " style="visibility: hidden">
        qwer
      </div>
    </div>

    <div class="row ">
      <div class="col-8 ">
      </div>
      <div class="col-4">
          <img src="../../assets/images/iconos/iconBallBlanco.png" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-8">
      </div>
      <div class="col-4">
      </div>
    </div>


</div>
</ion-content>
