


* {
    color: white;
}

// .contenedor {
//     height: 100%;
// }

.textoenlinea {
    display: inline-flex;
    justify-content: space-between;
}

.paddingright10 {
    padding: 0px 10px 0px 0px;
}

// .reajusteMarginLetras {
//     margin: 10px 0px 10px 0px !important;
//     width: 100%;
// }

.show {
    display: block;
}

.hide {
    display: none;
}

.tarjeta {
    margin: 2%;
    padding: 5%;
}

.tipoVACIO {
    display: none;
}

* {
    color: white;
}

.contenedor {
    height: 100%;
    justify-content: center;
    display: flex;
}

.marginauto {
    margin: auto;
}

.wrapper {
    background-color: #1b1f22;
}

.icon {
    width: 50px;
    position: relative;
    bottom: 2px;
}

.enlinea {
    display: inline-block;
}

.bloque {
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px #ffffff;
}

.bordeabajo {
    border-bottom: solid 1px #ffffff; 
}

.bordearriba {
    border-top: solid 1px #ffffff; 
}

.bordederecha {
    border-right: solid 1px #ffffff;
}

.borde {
    border: solid 1px #ffffff;
}

.letraregion {
    text-transform: uppercase;
}

.backbuton {
    justify-content: left;
    display: grid;
    box-shadow: none;
}