<div class='contenedor'>
  <div id="wrapper" class="wrapper">
    <ion-back-button defaultHref='home' text='' color='dark fixed-top' class='backbuton'></ion-back-button>

    <ion-row class='row tarjeta bordeabajo width100'>
      <ion-row class='row width100'>
        <ion-col class='col-6 bordederecha'><img alt='{{ pokemon.numero_nacional }}'
            src='../../assets/images/pokemons/{{ pokemon.numero_nacional }}.png'
            class='center pokemon ball {{pokemon.ball}}'></ion-col>
        <ion-col>
          <ion-row class='row'>
            <!-- <ion-col class='col-6 class='center'>{{pokemon.tipoUno}}</ion-col> -->
            <ion-col class='tipo tipo{{pokemon.tipoUno|uppercase}}'>{{pokemon.tipoUno|uppercase}}</ion-col>
          </ion-row>
          <ion-row class='row'>
            <!-- <ion-col class='col-6 class='center'>{{pokemon.tipoDos}}</ion-col> -->
            <ion-col class='tipo tipo{{pokemon.tipoDos|uppercase}}'>{{pokemon.tipoDos|uppercase}}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-col class='col-12'>
        <p>{{ pokemon.descripcion }}</p>
      </ion-col>
    </ion-row>

    <ion-row class='row center tarjeta bordeabajo width100' *ngIf='!(pokemon.nivelEvolucion === 0);' [ngClass]='ocultar1'>
      <p>Evoluciona al:</p>
      <ion-row class='row'>
        <ion-col class='col-4'><img alt='{{ pokemon.numero_nacional }}'
            src='../../assets/images/pokemons/{{ pokemon.numero_nacional }}.png'
            class='center pokemon ball {{pokemon.ball}}'></ion-col>
        <ion-col class='col-4 width100' style='align-self: center;'>
          <p class='width100'>Nivel: {{ pokemon.nivelEvolucion }}</p>
        </ion-col>
        <ion-col class='col-4'> <img alt='{{ pokemon.evoluciona }}'
            src='../../assets/images/pokemons/{{ pokemon.evoluciona }}.png'
            class='center pokemon ball {{pokemon.ball}}'></ion-col>
      </ion-row>
    </ion-row>
    <ion-row class='row center tarjeta bordeabajo width100' *ngIf='pokemon.nivelEvolucion === 0' [ngClass]='ocultar1'>
      <ion-row class='row width100'>
        <p class='width100'>No tiene evolución</p>
      </ion-row>
      <ion-row class='row'><img alt='{{ pokemon.numero_nacional }}'
          src='../../assets/images/pokemons/{{ pokemon.numero_nacional }}.png'
          class='center pokemon ball {{pokemon.ball}}'></ion-row>
    </ion-row>
    <ion-row class='row center tarjeta bordeabajo width100' [ngClass]='ocultar2'>
      <ion-row class='row'>
        <ion-col class=' text-center namePokemon'>{{ pokemon.nombre }}</ion-col>
      </ion-row>
      <ion-row class='row letra14'>
        <ion-row class='row width100'>
          <ion-col class='col-4 text-left'>Nivel: {{ pokemon.nivel }}</ion-col>
          <ion-col class='col-4 text-center'>{{ pokemon.numero_nacional }}</ion-col>
          <ion-col class='col-4'>
            <div class='text-right' *ngIf='genero'>
              <ion-icon class='text-right' name='md-female'></ion-icon>
            </div>
            <div class='text-right' *ngIf='!genero'>
              <ion-icon class='text-right' name='md-male'></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <!-- <ion-row class='width100'> <ion-col class='text-center namePokemon'>{{ pokemon.nombre }}</ion-col> </ion-row> -->
        <ion-row class='width100'>
          <ion-col class='col-6 textoenlinea paddingright10'>Ataque: <p class='text-right'>{{ pokemon.ataque }}</p>
          </ion-col>
          <ion-col class='col-6 textoenlinea paddingright10'>Ataque M: <p class='text-right'>
              {{ pokemon.ataque_especial }}</p>
          </ion-col>
        </ion-row>
        <ion-row class='width100'>
          <ion-col class='col-6 textoenlinea paddingright10'>Defensa: <p class='text-right'>{{ pokemon.defensa }}</p>
          </ion-col>
          <ion-col class='col-6 textoenlinea paddingright10'>Defensa M: <p class='text-right'>
              {{ pokemon.defensa_especial }}</p>
          </ion-col>
        </ion-row>
        <ion-row class='width100'>
          <ion-col class='col-6 textoenlinea paddingright10'>Velocidad: <p class='text-right'>{{ pokemon.velocidad }}
            </p>
          </ion-col>
          <ion-col class='col-6 textoenlinea paddingright10'>Evoluciona: <p class='text-right'>
              {{ pokemon.nivelEvolucion }}</p>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-row>

    <ion-row class='row width100'>
        <ion-col class='col-6 bordederecha' style="height: 10px; height: 30px; margin-top: -6px;"></ion-col>
        <ion-col class='col-6 '>
        </ion-col>
      </ion-row>

    <!-- <ion-row class='center tarjeta fixed-bottom'>
      <ion-row class='letra14'>
        <ion-row class='width100'>
          <ion-col class='col-6><ion-button (click)='capturar(pokemon.numero_nacional, pokemon.numeroEvolucion)'>Capurar</ion-button></ion-col>
        </ion-row>
      </ion-row>
    </ion-row> -->


    <ion-fab vertical='bottom' horizontal='end' id='fab1'>
      <ion-fab-button (click)='mostrarInfoPokemon()' color='light'>
        <ion-icon name='md-paw' role='img' color="dark"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical='bottom' horizontal='start' id='fab2'>
      <ion-fab-button (click)='capturar(pokemon.numero_nacional, pokemon.numeroEvolucion)' color='dark'>
        <img src='../../../assets/icon/iconBall.png' alt='ball'>
      </ion-fab-button>
    </ion-fab>

  </div>
</div>